<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24578296332-mk4kb69b2h8v1h09bes46847bcbq66j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24578296332-4db08lleblu4fl8e1h7hq8k37ied530i</string>
	<key>API_KEY</key>
	<string>AIzaSyDkQ5KtLbu0GLWxX3Oz9gXgthNizSnOIj0</string>
	<key>GCM_SENDER_ID</key>
	<string>24578296332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.economic</string>
	<key>PROJECT_ID</key>
	<string>vn-ecomics-java</string>
	<key>STORAGE_BUCKET</key>
	<string>vn-ecomics-java.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24578296332:ios:cd746ab48644609f7b3c29</string>
	<key>DATABASE_URL</key>
	<string>https://vn-ecomics-java-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>